<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-10 sm:px-6 sm:py-10 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 xl:gap-x-8">
      @if (categorys.length)
      {
      <button (click)="filterProject($event, '')"
        class="py-2 px-5  text-white	font-semibold rounded-full shadow-md hover:bg-orange-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75"
        [ngClass]="{'bg-orange-700' : IsFilter?.category_id == null , 'bg-orange-300' : IsFilter?.category_id != null}">
        <span>All Products</span>
      </button>

      @for(category of categorys; track category.category_id){
      <button (click)="filterProject($event, category.category_name)"
        [ngClass]="{'bg-orange-700' : IsFilter?.category_id == category.category_id , 'bg-orange-300' : IsFilter?.category_id != category.category_id}"
        class="py-2 px-5 bg-orange-300 text-white font-semibold rounded-full shadow-md hover:bg-orange-700
        focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75">
        <span>{{category.category_name}}</span>
      </button>
      }
      }@else {
      <!-- loader -->
      <div class="w-full h-full fixed top-0 left-0 bg-white opacity-75 z-50">
        <div class="flex justify-center items-center mt-[50vh]">
          <div class="rounded-full h-20 w-20 bg-violet-800 animate-ping"></div>
        </div>
      </div>
      }


    </div>
  </div>

  <hr>

  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      @for(product of products; track product.product_id){
      @if(IsFilter?.category_id !== null && IsFilter?.category_id == product.category_id){
      <a routerLink="/detail" (click)="increment($event , product)"
        class="group bg-gray-100 aspect-h-1 aspect-w-1 rounded p-3">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="{{product.images[0].image_url}}"
            alt="Hand holding black machined steel mechanical pencil with brass tip and top."
            class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">{{product.product_name}}</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">{{product.price}} ฿</p>
      </a>
      }
      @else if(IsFilter?.category_id == null){
      <a routerLink="/detail" (click)="increment($event , product)"
        class="group bg-gray-100 aspect-h-1 aspect-w-1 rounded p-3">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="{{product.images[0].image_url}}"
            alt="Hand holding black machined steel mechanical pencil with brass tip and top."
            class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">{{product.product_name}}</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">{{product.price}} ฿</p>
      </a>
      }
      }

      <!-- <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-01.jpg"
            alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
            class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Earthen Bottle</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">$48</p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-02.jpg"
            alt="Olive drab green insulated bottle with flared screw lid and flat top."
            class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Nomad Tumbler</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-03.jpg"
            alt="Person using a pen to cross a task off a productivity paper card."
            class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Focus Paper Refill</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">$89</p>
      </a>
      <a href="#" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img src="https://tailwindui.com/img/ecommerce-images/category-page-04-image-card-04.jpg"
            alt="Hand holding black machined steel mechanical pencil with brass tip and top."
            class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">Machined Mechanical Pencil</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
      </a> -->

    </div>
  </div>
</div>